.App {
  /* text-align: center; */
}

* {
  margin: 0;
  padding: 0;
}

.grid {
  max-width: 720px;
  min-height: 720px;
  margin: auto;
  background-color: #f4f3f3;
  border: 1px solid #c4bfbf;
}

.style-radius {
  border-radius: 3px;
  box-shadow: 0 4px #61dafb;
  position: relative;
}

.container {
  padding: 0 80px;
  font-size: 20px;
}

.heading {
  text-align: center;
  padding: 20px 0;
}

.box-add {
  /* text-align: center; */
  height: 28px;
  width: 100%;
  margin-bottom: 10px;
}

.input-add {
  height: 100%;
  width: 478px;
  margin-right: 6px;
  outline: none;
  border: 1px solid #ccc9c9;
  border-radius: 6px;
  padding-left: 12px;
  font-size: 20px;
}

.btn-add {
  height: 100%;
  background-color: #06bc7f;
  border: none;
  padding: 0 8px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.hh {
  margin-top: 300px;
}

.list-item {
  padding: 10px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #333;
  bottom: 0;
  left: 0;
  opacity: 0.3;
}

.confirm {
  text-decoration: line-through;
  opacity: 0.5;
  padding: 0 10px;
  width: 100%;
  text-align: left;
}

.noconfirm {
  padding: 0 10px;
  width: 100%;
  text-align: left;
}

.btn-deleted {
  background-color: red;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 4px;
  height: 26px;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
